<p>conductores works!</p>
<div class="container">
  <div class="col" style="text-align:center">
    <h2>{{title}}</h2>
  </div>
  <br/><br/>
  <form class="form-group row">
    <div class="form-group col-md-3">
      <label for="nombre">Nombre:</label>
      <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="form-control" [(ngModel)]="inputNombre">
    </div>
    <div class="form-group col-md-3">
      <label for="apellido">Apellido:</label>
      <input type="text" name="apellido" id="apellido" placeholder="Apellido" class="form-control" [(ngModel)]="inputApellido">
    </div>
    <div class="form-group col-md-3">
      <label for="cargo">Cedula:</label>
      <input type="text" name="cedula" id="cedula" placeholder="Cedula" class="form-control" [(ngModel)]="inputCedula">
    </div>
    <div class="form-group col-md-3">
      <label for="salario">Celular:</label>
      <input type="text" name="celular" id="celular" placeholder="Celular" class="form-control" [(ngModel)]="inputCelular">
    </div>
    <div class="form-group col-md-3">
      <label for="salario">Email:</label>
      <input type="text" name="email" id="email" placeholder="Email" class="form-control" [(ngModel)]="inputEmail">
    </div>
    <div class="form-group col-md-3">
      <label for="salario">Direccion:</label>
      <input type="text" name="direccion" id="direccion" placeholder="Direccion" class="form-control" [(ngModel)]="inputDireccion">
    </div>
    <div class="form-group col-md-3">
      <label for="salario">Plan:</label>
      <input type="text" name="plan" id="plan" placeholder="Plan" class="form-control" [(ngModel)]="inputPlan">
    </div>
    <div class="col">
      <input type="submit" value="enviar" class="btn btn-primary" (click)="agregarConductor()"  style="margin: 35px;">
    </div>
  </form>
</div>
<br><br><br>

<!--
<app-lista-usuarios *ngFor="let empleado of empleados; let i = index" [empleadoLista]="empleado" [iLista]="i"></app-lista-usuarios>
-->

<div class="container">
  <div class="col">
    <div class="row">
      <div *ngFor="let conductor of conductores; let i = index">
        {{i+1}} {{conductor.nombre}} {{conductor.apellido}} {{conductor.cedula}} {{conductor.celular}} {{conductor.email}} {{conductor.direccion}} {{conductor.plan}}
        <button [routerLink]="['/actualizaConductores', i]" class="btn btn-primary" >actualizar</button>
      </div>
    </div>
  </div>
</div>
